<h1>New Shoe</h1>


<%= form_with(model: @shoe, class: 'new_shoe') do |f|%>
    <%= f.label :brand, "Brand:" %>
    <%= f.text_field :brand %><br><br>
    <%= f.label :price, "Price:" %>
    <%= f.number_field :price, min: 0, step: 0.01 %><br><br>
    <%= f.label :color, "Color:" %>
    <%= f.text_field :color %><br><br>
    <%= f.label :limited_edition, "Limited Edition:" %>
    <%= f.check_box :limited_edition %>
    <br><br>


    <%= f.submit %>
<% end %>