<!DOCTYPE html>
<html>
  <head>
    <title>ShoeCollection</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to("All Shoes", shoes_path )%>
    <%= link_to("Most Expensive Shoe", expensive_shoe_path )%>
    <%= yield %>
  </body>
</html>
