<!DOCTYPE html>
<html>
  <head>
    <title>ShoeCollection</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

 <h1>You are in the Shoe world!! </h1>
    <%= link_to("Most Expensive Shoe", expensive_shoe_path )%> |
    <%= link_to("New Shoe", new_shoe_path )%> |
    <%= link_to("All Brands", brands_path )%>

    <%= yield %>
  </body>
</html>